@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 425px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  --color-blue: #847584;
  --color-white: #ffffff;
  --color-bg-black: #03040a;
  --color-black: #03040a;
  --color-gray: #a1a6b0;
  --color-rd-gray: #dedede;
  --color-faded-gray: #d5d7dc;
  --color-gray-bg: #fafafa;
  --color-rd-gray: #444444;
  --color-green: #a5ff93;

  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --font-satoshi: "Satoshi", sans-serif;
  --font-plusjakarta: "Plus Jakarta Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --container-xl: 1280px;
}

@utility container {
  padding-inline: 10px;
  margin-inline: auto;

  @variant sm {
    padding-inline: 20px;
  }
  @variant md {
    padding-inline: 60px;
  }

  @variant lg {
    padding-inline: 80px;
  }

  @variant xl {
    /* @apply bg-blue; */
    max-width: var(--container-xl);
    /* padding-inline: 120px; */
  }
}
