@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 425px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  --color-blue: #847584;
  --color-white: #ffffff;
  --color-bg-black: #03040a;
  --color-black: #03040a;
  --color-gray: #a1a6b0;
  --color-rd-gray: #dedede;
  --color-faded-gray: #d5d7dc;
  --color-gray-bg: #fafafa;
  --color-rd-gray: #444444;
  --color-green: #a5ff93;
  --color-gray-text: #9c9c9c;

  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --font-satoshi: "Satoshi", sans-serif;
  --font-plusjakarta: "Plus Jakarta Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --container-xl: 1280px;
}

@utility container {
  padding-inline: 10px;
  margin-inline: auto;
  overflow-x: hidden;

  @variant sm {
    padding-inline: 20px;
    overflow-x: visible;
  }
  @variant md {
    padding-inline: 60px;
  }

  @variant lg {
    padding-inline: 80px;
  }

  @variant xl {
    max-width: var(--container-xl);
  }
}

@keyframes spin {
  /* from {
          transform: rotate(0deg);
        } */
  to {
    transform: rotate(360deg);
  }
}
.animate-memutar {
  animation: spin 10s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  will-change: transform;

  /* animation-duration: 500ms; */
  /* background: red; */
}

@keyframes reverse-spin {
  to {
    transform: rotate(-350deg);
  }
}
.animate-spin {
  animation: spin 15s infinite;
  transform-origin: center center;
  will-change: transform;
}
/* @keyframes reverse-spin {
  to {
    transform: rotate(-360deg);
  }
}
.animate-spin {
  animation: spin 10s infinite;
} */
